@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


.navbar-laravel{
    background-color: #fff ;
    box-shadow: 0 2px 4px rgb(0,0,0,0.04);
}
.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
}

.vote {
    float: left; /* Keeps the vote element on the left */
    width: 60px;
    height: 60px;
    margin-right: 20px; /* Adjust margin as needed */
}

.status, .view {
    display: inline-block; /* Allows these elements to be centered */
    width: 60px;
    height: 60px;
    vertical-align: middle; /* Aligns these elements vertically */
}

strong{
    display: block;
    font-size:2em ;
}
.view {
    margin-top: 10px;
  }
.status {
    &.unanswered {
      border: none;
    }

    &.answered {
        border: 1px solid rgb(95, 187, 126);
        color: rgb(95, 187, 126);
      }
      
      &.answered-accepted {
        background: rgb(95, 187, 126);
        color: #fff;
      }
 
}


